.container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/home-background3.jpg");
  color: white;
  text-shadow: 0 0 25px black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5vw;
  overflow: hidden;
}

.container #goDevelopers {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255);
  position: fixed;
  left: 0;
  top: 0;
  margin: 15px;
  cursor: pointer;
  transition: 0.25s ease;
  overflow: hidden;
}

.container #title {
  font-size: 2.75rem;
}

.container #icon {
  transform: translate(-50%, -50%);
  margin-left: 50%;
  margin-top: 50%;
}

.container #goDevelopers:hover {
  border-radius: 50px;
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  transform: none;
}

.container .title-container {
  position: absolute;
  right: 7.5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 27.5vw;
  height: 70vh;
  padding: 25px;
  font-weight: bold;
  transition: 0.5s ease;
  border-radius: 25px;
}

.container .title-container p {
  text-align: center;
}

.container .title-container:hover {
  background: rgba(0, 0, 0, 0.35);
}

#integrantes {
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-shadow: none;
}

#start {
  transition: 0.2s ease;
  cursor: pointer;
}

#start:hover {
  transform: scale(1.1);
}

.fix {
  transform: none !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  margin-right: 25px;
}

.container #cosmosImg {
  width: 35%;
}

@media screen and (max-width: 768px) {
  .container .title-container {
    width: 85vw;
    left: 50%;
    transform: translate(-50%);
  }

  #title {
    font-size: 2.85rem;
  }
}
